body
{
background-color: rgb(124, 226, 226);
}
.card
{
  background-color: rgb(36, 63, 61);
  width: 200px;
  height: 313px;
  display: flex;
  border-radius: 7px;
  border: 3px solid black;
  position: relative;
  top: 50px;
  left:220px;
}
.img
{
  padding: 5px;
  border-radius: 7px;
}
.img img{
    border-radius: 7px;
}
.content p{
  font-size: 12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  position: relative;
  bottom:24px; 
  overflow:hidden;
  color: rgb(120, 136, 136);
}
h1{
  text-align: center;
  color: rgb(153, 153, 153);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.capsule span{
  border: 2px solid rgb(18, 131, 197);
  padding: 3px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 2px;
  color: aqua;
  position: relative;
  left: 39px;
   border-radius: 7px;
   top:4px
  
}