*
{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}


body{
    background-color: rgb(53, 51, 51);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame
{
    height: 600px;
    width: 460px;
    background-color: rgb(50, 20, 218);
    box-shadow: 5px 5px 15px #68cdca, -5px -5px 10px #ffffff;
}
p{
    color: beige;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}


#display
{
    height: 90px;
    width: 100%;
    outline:none;
    background-color : rgb(19, 172, 211);
    box-shadow:inset 2px 2px 10px #b4edf4,inset -5px -5px -10px #ffffff;
    padding: 10px;
    font-size: 30px;
box-sizing: border-box;
text-align: right;


}
.buttons-group
{
    
display: flex;
color: red;

justify-content: space-around;
margin-bottom: 15px;
}
.button
{
    width: 85px;
    
    height: 85px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px hsla(75, 50%, 98%, 0.945), -5px -5px -10px #f1f167;
}
.button:active
{
    box-shadow:inset 1px 1px 2px #054063,inset -1px -1px -2px #067ff0;
}

.button:hover
{
    background-color: red;
    color: burlywood
}